<div class="column">
  <div class="card">

    <div class="card-content">
      <p class="title">
        <% if show_link %>
          <%= link_to product.product_name, product %>
        <% else %>
          <%= product.product_name %>
        <% end %>
      </p>
        <% if show_link %>
          <p>Category: <%= link_to product.category.category_name, product.category %></p>
        <% else %>
          <p>Category: <%= link_to product.category.category_name, product.category %></p>
          <p>Description: <br><%= product.description %></p>
        <% end %>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        Price: <br><%= number_to_currency product.price %>
      </p>
      <p class="card-footer-item">
        Stock: <br><%= product.stock %>
      </p>
      <p class="card-footer-item">

      </p>
    </footer>
  </div>
</div>