<aside class="ml-6 mr-4 mb-5">
  <div class="card">
    <% if product.image.present? %>
      <p><%= image_tag product.image.variant(resize_to_limit: [285, 285]).processed  %></p>
    <% end %>
    <div class="card-content">
      <p class="title">
        <% if show_link %>
          <%= link_to product.product_name, product %>
        <% else %>
          <%= product.product_name %>
        <% end %>
      </p>
        <% if show_link %>
          <p>Category: <%= link_to product.category.category_name, product.category %></p>
        <% else %>
          <p>Category: <%= link_to product.category.category_name, product.category %></p>
          <p>Description: <br><%= product.description %></p>
        <% end %>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        Price: <br><%= number_to_currency product.price %>
      </p>
      <p class="card-footer-item">
        Stock: <br><%= product.stock %>
      </p>
    </footer>
    <%= form_with url: checkout_create_path, remote: true do %>
      <%= hidden_field_tag(:product_id, product.id) %>
      <%= button_tag 'Buy Now! 💳' %>
    <% end %>
  </div>
</aside>
