<!DOCTYPE html>
<html>
  <head>
    <title>Online Farmers Market</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.css">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
  </head>

  <body>
    <header>
      <h1 class="title is-1"><%= link_to 'Online Farmers Market', root_path %></h1>
    </header>
    <%= render partial: 'common/nav' %>
    <%= render partial: 'common/search_form' %>
    <%= yield %>
  </body>
</html>
